body {
  background-color: #475577;
  font-family: Lato, sans-serif;
}

.square {
  width: 15%;
  height: 15%;
  background-color: #FAC51C;
  margin-bottom: .5%;
  margin-right: .5%;

}

.title {
  font-size: 55px;
  color: #FAC51C;
  text-align: center;
  margin-top: 3%;
}

.marker {
  font-size: 85px;
  color: #475577;
  text-align: center;
  margin-left: 35%;
}

.firstRow {
  display: inline-block;
}

.secondRow {
  display: inline-block;
}

.thirdRow {
  display: inline-block;
}

.outerContainer {
  margin-top: 5%;
  margin-left: 31.5%;
}
