
.square {
  width: 15%;
  height: 15%;
  background-color: black;
  margin-bottom: .5%;
  margin-right: .5%;

}

.marker {
  font-size: 85px;
  color: white;
  text-align: center;
  margin-left: 35%;
}

.firstRow {
  display: inline-block;
}

.secondRow {
  display: inline-block;
}

.thirdRow {
  display: inline-block;
}

.outerContainer {
  margin-top: 10%;
  margin-left: 35%;
}














/* .topHorizontal {
  margin-top: 20%;
  margin-left: 25%;
  height: 15px;
  width: 800px;
  background-color: black;
}

.bottomHorizontal {
  margin-top: 10%;
  margin-left: 25%;
  height: 15px;
  width: 800px;
  background-color: black;
}

.leftVertical {
  height: 800px;
  width: 15px;
  background-color: black;
  margin-left: 40%;
} */
