body {
  background-color: #475577;
  font-family: Lato, sans-serif;
}

.square {
  width: 15%;
  height: 15%;
  background-color: #FAC51C;
  margin-bottom: .5%;
  margin-right: .5%;
}

.btn {
  background-color: #475577;
}

.title {
  font-size: 55px;
  color: #FAC51C;
  text-align: center;
  margin-top: 3%;
/*   margin-left: 7%;
 */}

.marker {
  font-size: 85px;
  color: #475577;
  text-align: center;
  margin-left: 35%;
}

.firstRow {
  display: inline-block;
}

.secondRow {
  display: inline-block;
}

.thirdRow {
  display: inline-block;
}

.outerContainer {
  margin-top: 5%;
  margin-left: 34.5%;
  height: 50%;
  width: 70%;
}

@media only screen and (max-width: 1150px) {
  body {
    line-height: 1.2;
  }

  .square {
    width: 12%;
    height: 3%;
    background-color: #FAC51C;
    margin-bottom: .5%;
    margin-right: .5%;
  }

  .marker {
    font-size: 55px;
    color: #475577;
    text-align: center;
    margin-left: 29%;
  }

}

@media only screen and (max-width: 900px) {
  body {
    line-height: 1;
  }
  .outerContainer {
    height: 50%;
    width: 65%;
  }

  .square {
    width: 15%;
    height: 5%;
    background-color: #FAC51C;
    margin-bottom: .5%;
    margin-right: .5%;
  }

  .marker {
    font-size: 55px;
    color: #475577;
    text-align: center;
    margin-left: 25%;
  }

}
