
<!DOCTYPE html>
<html >
<head>
 <title>Tic Tac and a Toe </title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/mystyles.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
  <body ng-app="ticTacAndAToe" ng-controller="GameController">
  <h1 class="title">Tic Tac and a Toe</h1>
  <div class="container outerContainer">
    <div class="square firstRow" ng-click="playerPickSquare('A1'); checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces(); "><span class="marker">{{board["A1"]}}</span></div>
    <div class="square firstRow" ng-click="playerPickSquare('A2'); checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces();"><span class="marker">{{board["A2"]}}</span></div>
    <div class="square firstRow" ng-click="playerPickSquare('A3');  checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces();"><span class="marker">{{board["A3"]}}</span></div> <br>

    <div class="square secondRow" ng-click="playerPickSquare('B1'); checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces();"><span class="marker">{{board["B1"]}}</span></div>
    <div class="square secondRow" ng-click="playerPickSquare('B2'); checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces();"><span class="marker">{{board["B2"]}}</span></div>
    <div class="square secondRow" ng-click="playerPickSquare('B3'); checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces();"><span class="marker">{{board["B3"]}}</span></div> <br>

    <div class="square thirdRow" ng-click="playerPickSquare('C1'); checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces();"><span class="marker">{{board["C1"]}}</span></div>
    <div class="square thirdRow" ng-click="playerPickSquare('C2'); checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces();"><span class="marker">{{board["C2"]}}</span></div>
    <div class="square thirdRow" ng-click="playerPickSquare('C3'); checkForWinner(); checkForOpenSpaces();  computerAIMove(); checkForWinner(); checkForOpenSpaces();"><span class="marker">{{board["C3"]}}</span></div> <br>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="controllers/GameController.js" type="text/javascript"></script>
</body>
